.aside {
    width: 390px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    .aside__container {
        position: absolute;
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        animation: desappear 1s;

        &--shown {
            transform: translateX(0%);
            z-index: 1;
            opacity: 1;
            animation: appear 1s;
        }
    }
}

@keyframes appear {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes desappear {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}