@import "../../../variables";

.bigButton {
    background-color: $primary;
    color: $light;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-transform: uppercase;
    border: none;
    border-radius: 12px;
    padding: 25px 30px;

    &:hover {
        background: darken($primary, $hueDegree);
    }

    position: relative;
    overflow: hidden;

    .bigButton__ripple {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .bigButton__ripple__content {
            transform: scale(0);
            border-radius: 100%;
            position: absolute;
            opacity: 0.55;
            background-color: $light;
            animation: ripple 850ms;
        }
    }

    &--white {
        background-color: $light;
        color: $dark;
        &:hover {
            background: darken($light, $hueDegree);
        }
        .bigButton__ripple .bigButton__ripple__content {
            background-color: $dark;
        }
    }
    &--blue {
        background-color: $blue;
        color: $light;
        &:hover {
            background: darken($blue, $hueDegree);
        }
        .bigButton__ripple .bigButton__ripple__content {
            background-color: $dark;
        }
    }
    &--transparent {
        background-color: transparent;
        color: $dark;
        &:hover {
            background: darken($light, $hueDegree);
        }
        .bigButton__ripple .bigButton__ripple__content {
            background-color: $dark;
        }
    }
}

@keyframes ripple {
    to {
        opacity: 0;
        transform: scale(2);
    }
}
