.containerApp {
    display: flex;
    overflow-y: hidden;
    .body {
        display: flex;
        justify-content: center;
        width: 100%;

        background-color: #fafafe;
        flex-grow: 2;
    }
}

.fade-enter {
    opacity: 0;
    width: 100%;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.fade-exit {
    display: none;
}
