@import "../../../../variables";

.itemList {
    margin: 15px 0;
    display: flex;
    align-items: center;
    animation: $toShowOpacity ;
    .itemList__checkbox {
        color: $primary;
        font-size: 24px;
        &:hover {
            cursor: pointer;
        }
    }
    .itemList__name {
        margin-left: 5px;
        word-break: break-word;
        font-family: Quicksand;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0em;
        color: $black;
        user-select: none;
        flex-grow: 2;
        &:hover {
            cursor: pointer;
        }
    }
    .ItemList__button {
        height: 46px;
        display: flex;
        align-items: center;
        transition: all 0.5s;
        justify-self: flex-end;
        .ItemList__button__quantity {
            color: $primary;
            font-family: Quicksand;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 0em;

            border: 2px solid $primary;
            border-radius: 24px;
            width: 68px;
            display: flex;
            justify-content: center;
            padding: 10px;
            &:hover {
                cursor: pointer;
            }
            .ItemList__button__quantity_pcs {
                font-family: Quicksand;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 15px;
                letter-spacing: 0em;
                color: $primary;
                padding-left: 2px;
            }
        }
        .ItemList__button__icon {
            transform: scale(0) translateX(100%);
            display: none;
            color: $primary;
            font-size: 24px;
            &:hover {
                cursor: pointer;
            }
            &--delete {
                background-color: $primary;
                color: $light;
                border-radius: 12px;
                width: 35px;
                padding: 7px;
                height: 100%;
                transition: all 0.5s;
                &:hover {
                    background-color: adjust-hue($primary, $hueDegree);
                }
            }

            &--add {
                margin: 0px 7px;
                transition: all 0.5s;
                &:hover {
                    cursor: pointer;
                    transform: scale($sizeScale);
                }
            }
            &--remove {
                margin: 0px 7px;
                transition: all 0.5s;
                &:hover {
                    cursor: pointer;
                    transform: scale($sizeScale);
                }
            }
        }
        &--editing {
            height: 46px;
            background-color: $light;
            border-radius: 12px;
            .ItemList__button__icon {
                animation: noneScale 0.5s;
                display: block;
                transform: scale(1);
            }
        }
    }

    &--checked {
        .itemList__name {
            text-decoration: line-through;
        }
    }
    &--editing {
        .itemList__checkbox {
            display: none;
        }
        .itemList__name {
            text-decoration: none;
            &:hover {
                cursor: initial;
            }
        }
    }
}

@keyframes noneScale {
    0% {
        display: block;
        transform: scale(0) translateX(100%);
    }
    100% {
        transform: scale(1) translateX(0%);
    }
}

@keyframes toLeft {
    0% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0px);
    }
}